<%- include ./partials/header %>
<h1>Me encontre aqui:</h1>
<p class="lead">
  Github : https://github.com/Vinimango <br/>
  Instagram : @Vinimango <br/>
  X : Batatawads
  













  
</p>
<%- include ./partials/footer %>