

  <div class="card m-5 shadow" style="width: 350px;">
    <img src="images/lebron2.jpg" class="card-img-top bg-primary" alt="...">
    <div class="row">
        <div class="col">
            <div class="card-body text-center">
                <h5 class="card-title">Lebron James</h5>
                <p class="card-text">Lebron James é o maior jogador de basquete da história, tendo passagens icônicas pelo Cleveland Cavaliers e pelo Miami Heat, onde conquistou diversos campeonatos.</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Estatistícas</th>
                        <th>Pontos</th>
                        <th>Rebotes</th>
                        <th>Assistências</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cavaliers</td>
                        <td>12013</td>
                        <td>4000</td>
                        <td>1230</td>
                    </tr>
                    <tr>
                        <td>Heat</td>
                        <td>30000</td>
                        <td>12234</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>Lakers</td>
                        <td>1000</td>
                        <td>1230</td>
                        <td>1239</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>