<%- include ./partials/header %>
  <body>
    <h1>Sobre nós:</h1>
    <p class="lead">
      O "Site x" é um site dedicado a fornecer as últimas notícias, análises, resultados e conteúdos exclusivos sobre o mundo dos esportes. Seu objetivo é atender fãs de todas as modalidades, trazendo uma cobertura completa e atualizada dos principais eventos esportivos nacionais e internacionais, além de oferecer uma experiência de navegação interativa e envolvente.
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>









      
    </p>
    <p></p>
  </body>
</html>
<%- include ./partials/footer %>