<%- include ./partials/header %>
  <body>
    <div >
    <video id="videoHome" controls muted autoplay loop>
      <source src="../public/videos/5647070-uhd_3840_2160_30fps.mp4" type="video/mp4">
  </video>
  <h1 class="position-absolute top-50 start-50 translate-middle z-5">Alguma coisa que tu quer escrever</h1>
</div>
    <div class="container-fluid">
      <h1>Basquete Real</h1>

      <pre id="resultado"></pre>
    <div class="container-fluid" id="0">
      
    </div>
      <div class="row" id="69">
      </div>
    </div>

    <%- include ./partials/footer %>
    <script type="module" src="/script.js" defer></script> <!-- Importa o JS interno -->
  </body>

  </html>
